.layout {
  min-height: 100vh;
  background: linear-gradient(to bottom, #e8f1ff, #f6f7f9);
  color: #333; /* 深灰色字体 */
}

.header {
  height: 56px;
  line-height: 56px;
  padding-inline: 24px;
  background-color: #e8f1ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #d7e1eb;
  color: #333; /* 深灰色字体 */
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: #222; /* 更深的字体颜色 */
}

.nav {
  display: flex;
  gap: 64px;
}

.nav a {
  font-size: 14px;
  opacity: 0.65;
  color: #444; /* 深灰色字体 */
  text-decoration: none; /* 可选：移除下划线 */
  transition: opacity 0.3s; /* 添加过渡效果 */
}

.nav a:hover {
  opacity: 0.9; /* 悬停效果 */
}

.nav a.active {
  font-weight: bold;
  opacity: 1;
  color: #1a73e8; /* 激活状态使用蓝色 */
}

.swapCard {
  width: 600px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.switchBtn {
   font-size: '20px';
   display: flex;
   justify-content: center;
   margin: 16px 0;
 }
 
 .swapSpace {
   width: 99%;
   justify-content: space-between;
 }
 
 .swapBtn {
   margin-top: 10px;
 }